*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: hsl(217, 54%, 11%);
	color: hsl(215, 51%, 70%);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Outfit", sans-serif;
	font-style: normal;
	font-size: 1.125rem;
}

/* Typography */
p {
	margin: 0;
}

h1 {
	font-weight: 500;
	color: white;
}

span {
	color: white;
}

.eth {
	color: hsl(178, 100%, 50%);
}

.creator-name p {
	padding-top: 1em;
}
/* Typography Ends */

.container {
	background-color: hsl(216, 50%, 16%);
	border-radius: 1em;
	margin: 1em;
}

.card {
	padding: 2em;
}

.nft {
	width: 100%;
	border-radius: 1em;
}

.eth-balance {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid hsl(215, 51%, 70%);
}

.creator-name {
	display: flex;
	align-items: center;
	gap: 1em;
}

.icons {
	display: flex;
	gap: 0.3em;
	margin: 1em 0;
}

.avatar {
	width: 70px;
	border: 1px solid white;
	border-radius: 50%;
	margin-top: 1em;
}

@media (min-width: 600px) {
	.card {
		width: 100%;
		padding: 1.5em;
	}

	body {
		width: 28%;
		margin: 0 auto;
	}

	.nft {
		border-radius: 0.3em;
	}

	.nft:hover {
		opacity: 0.3;
		cursor: pointer;
	}
}
